@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap");

// here we use rem for font-size
// rem is relative to the :root element in the dom (html tag)
// we can manipulate the :root element's font-size at different breakpoints to scale up the font-size application-wide

* {
  font-family: "Signika", sans-serif;
  color: $text-color;
}

input {
  color: black;
}
