@use "../../styles/_variables.scss" as *;
.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 2rem;
  padding: 2rem;
}

.song-image {
  width: 10rem;
}

@media only screen and (min-width: $desktop-breakpoint) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }

  .song-image {
    width: 10rem;
  }
}
