.home {
  background: url(../../assets/images/background.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

  padding: 1rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .home__header-title {
      display: flex;
      align-items: center;
    }
  }
  &__sub-title {
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
  }
  .search-box {
    padding: 1rem;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-list {
    &:hover ~ .home {
      background-color: red;
    }
  }
}
