.layout {
  height: 100%;
  .home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(236, 236, 236, 0.1);
  }
  .sub-title {
    padding: 1rem;
    text-align: center;
  }
  .search-box {
    padding: 1rem;
  }
  .card-list {
    background-color: rgba(236, 236, 236, 0.1);
  }
}
