@use "../../styles/variables" as *;
.layout {
  height: 100vh;
  .song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(236, 236, 236, 0.1);
    height: 100%;

    .song-info__react-wrapper {
      width: 60%;
      height: 30%;
    }
    .song-info__react-player {
      width: 100%;
    }
    .song-info__controls-button {
      color: black;
    }
  }
}
@media only screen and (min-width: 1024px) {
  .layout {
    .song-info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .song-info__react-wrapper {
        width: 50%;
        height: 60%;
      }
      .song-info__react-player {
        width: 100%;
      }
    }
  }
}
