.add-song {
  padding: 1rem;

  &__header {
    display: inline-block;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    .add-song__title {
      font-size: 3rem;
    }
    .add-song__sub-title {
      padding: 1rem;
      font-size: 2rem;
    }
  }
  .add-song__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(21, 11, 11, 0.5);
    border-radius: 10px;
    width: 300px;
    gap: 0.5rem;
    padding: 1rem;
    label {
      font-weight: bold;
    }
    input {
      border-radius: 1rem;
      padding: 0.2rem;
      width: 250px;
    }
  }
  .add-song__form-btn {
    padding: 0.5rem;
    color: black;
    padding: 0.5rem;
    border-radius: 5rem;
    background-color: white;
    border: 2px solid #121212;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: #1ca74e;
    }
    &--loading {
      background-color: rgb(21, 11, 11, 0.5);
    }
  }
}

@media only screen and (min-width: 1024px) {
  .add-song {
    .add-song__form {
      width: 500px;
    }
  }
}
